In [66]:
submissions = 'submissions'

In [64]:
files = !ls {submissions}/submission*

In [2]:
import pandas as pd

In [6]:
dfs = [ for file in files]

In [51]:
merged = pd.read_csv('submissions/submission014.csv')
passengerIds = merged['PassengerId']
merged.drop(['Survived', 'PassengerId'], inplace=True, axis=1)

In [53]:
for idx, file in enumerate(files):
    df = pd.read_csv(f'submissions/{file}')
    df.columns = ['PassengerId', f'sub_{idx}']
    df.drop('PassengerId', inplace=True, axis=1)
    merged = merged.merge(df, left_index=True, right_index=True)

In [54]:
merged.head(1)

,sub_0,sub_1,sub_2,sub_3,sub_4,sub_5,sub_6,sub_7,sub_8,sub_9,...,sub_16,sub_17,sub_18,sub_19,sub_20,sub_21,sub_22,sub_23,sub_24,sub_25
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
merged.mean()

sub_0     0.354067
sub_1     0.387560
sub_2     0.385167
sub_3     0.358852
sub_4     0.370813
sub_5     0.547847
sub_6     0.624402
sub_7     0.382775
sub_8     0.389952
sub_9     0.387560
sub_10    0.349282
sub_11    0.354067
sub_12    0.387560
sub_13    0.358852
sub_14    0.294258
sub_15    0.011962
sub_16    0.389952
sub_17    0.377990
sub_18    0.550239
sub_19    0.433014
sub_20    0.399522
sub_21    0.531100
sub_22    0.392344
sub_23    0.279904
sub_24    0.322967
sub_25    0.399522
dtype: float64

In [71]:
%matplotlib inline
merged.mean(axis=1).mean()

0.3854435038645568

In [83]:
(merged.mean(axis=1) > 0.47).astype(int).mean()

0.38995215311004783

In [84]:
# LB: 0.7846, best I had so far
df_submit = pd.DataFrame({'PassengerId': passengerIds, 'Survived': (merged.mean(axis=1) > 0.47).astype(int)})
df_submit.to_csv(f'{submissions}/_blend050.csv', index=False)

In [68]:
!open {submissions}

In [69]:
!open https://www.kaggle.com/c/titanic/submit

In [87]:
survivors_by_model = merged.mean().sort_values()
survivors_by_model

sub_15    0.011962
sub_23    0.279904
sub_14    0.294258
sub_24    0.322967
sub_10    0.349282
sub_0     0.354067
sub_11    0.354067
sub_3     0.358852
sub_13    0.358852
sub_4     0.370813
sub_17    0.377990
sub_7     0.382775
sub_2     0.385167
sub_12    0.387560
sub_1     0.387560
sub_9     0.387560
sub_8     0.389952
sub_16    0.389952
sub_22    0.392344
sub_20    0.399522
sub_25    0.399522
sub_19    0.433014
sub_21    0.531100
sub_5     0.547847
sub_18    0.550239
sub_6     0.624402
dtype: float64

In [86]:
merged1 = merged.copy()

In [93]:
pd.cut(survivors_by_model, bins = 10)

sub_15    (0.0113, 0.0732]
sub_23      (0.257, 0.318]
sub_14      (0.257, 0.318]
sub_24      (0.318, 0.379]
sub_10      (0.318, 0.379]
sub_0       (0.318, 0.379]
sub_11      (0.318, 0.379]
sub_3       (0.318, 0.379]
sub_13      (0.318, 0.379]
sub_4       (0.318, 0.379]
sub_17      (0.318, 0.379]
sub_7       (0.379, 0.441]
sub_2       (0.379, 0.441]
sub_12      (0.379, 0.441]
sub_1       (0.379, 0.441]
sub_9       (0.379, 0.441]
sub_8       (0.379, 0.441]
sub_16      (0.379, 0.441]
sub_22      (0.379, 0.441]
sub_20      (0.379, 0.441]
sub_25      (0.379, 0.441]
sub_19      (0.379, 0.441]
sub_21      (0.502, 0.563]
sub_5       (0.502, 0.563]
sub_18      (0.502, 0.563]
sub_6       (0.563, 0.624]
dtype: category
Categories (10, interval[float64]): [(0.0113, 0.0732] < (0.0732, 0.134] < (0.134, 0.196] < (0.196, 0.257] ... (0.379, 0.441] < (0.441, 0.502] < (0.502, 0.563] < (0.563, 0.624]]